[user]
    # These values are set by the user after cloning the repository
    name = CHANGE_ME
    email = CHANGE_ME@example.com

[core]
    editor = code --wait
    excludesfile = ~/.gitignore_global
    autocrlf = input
    pager = less -FX

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    default = current
    autoSetupRemote = true

[fetch]
    prune = true

[alias]
    st = status
    co = checkout
    ci = commit
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    undo = reset HEAD~1 --mixed
    amend = commit --amend --no-edit

[color]
    ui = auto

[diff]
    tool = vscode

[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

[merge]
    tool = vscode

[mergetool "vscode"]
    cmd = code --wait $MERGED

[help]
    autocorrect = 1

# Include a local gitconfig file that can contain machine-specific settings
# This file will not be tracked by git
[include]
    path = ~/.gitconfig.local 